@{
    ViewBag.Title = "Thank You";
}

<h2>@Html.DisplayName(MyStore.WebUI.Resources.Resource.Thank_You)</h2>
@Html.DisplayName(MyStore.WebUI.Resources.Resource.Thank_you_for_your_order).<br /><br />
@Html.DisplayName(MyStore.WebUI.Resources.Resource.Your_Order_Id) = @ViewBag.OrderId